html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul,
ol {
  padding: 0;
  list-style: none;
}
img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: 0;
  appearance: none;
}

a{
  text-decoration: none;
  color: inherit;
}
